@charset "UTF-8";

/* ====================
mainVisual
==================== */
.mainVisual {
    position: relative;
    aspect-ratio: 16 / 9;
}

.mainVisual::before {
    content: '';
    display: block;
    width: 100%;
    height: 170%;
    background-image: url(../images/prologue_pc.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

/* 動画 */
.movie {
    display: block;
    width: 100%;
    min-width: 768px;
    height: auto;
    /* aspect-ratio: 16 / 9; */
    position: relative;
    z-index: -2;
}

.mainVisual__img {
    display: none;
}

/* article\_header sp */
@media screen and (max-width: 768px) {
    .mainVisual::before {
        display: none;
    }
    
    .movie {
        display: none;
    }

    .mainVisual__img {
        display: block;
    }
}/* sp 768px */

/* ====================
prologue
==================== */
.section--prologue {
    aspect-ratio: 18 / 7;
    background-image: url(../images/bg_shikkui_topPc.png);
    background-size: contain;
    background-repeat: repeat;
    align-items: center;
}

.prologue__content {
    max-width: 980px;
    height: 560px;
    margin: 0 auto;
    padding: 24px 0 12px;
    display: block;
    position: relative;
}

.topic__first {
    text-align: center;
    font-size: 4.0rem;
    line-height: 1.8;
    letter-spacing: 4;
}

.prologue__txt1 {
    margin-left: auto;
    width: 510px;
    max-width: 700px;
    padding: 10px;
    text-align: right;
    font-family: "Noto Sans JP";
    font-size: 2.0rem;
    font-weight: 300;
    line-height: 1.8;
    letter-spacing: 1;
    position: relative;
}

.prologue__txt1::after {
    content: '';
    display: block;
    width: 120px;
    height: 120px;
    background-image: url(../images/guide01.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 15px;
    left: -28%;
}

.prologue__txt2 {
    margin-right: auto;
    width: 390px;
    max-width: 600px;
    padding: 10px;
    text-align: left;
    font-family: "Noto Sans JP";
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.8;
    letter-spacing: 0.8;
    position: relative;
}

.prologue__txt2::after {
    content: '';
    display: block;
    width: 90px;
    height: 90px;
    background-image: url(../images/guide01.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 15px;
    right: -23%;
}

.prologue__txt3 {
    margin:0 9.5% 0 56.8% ;
    width: 330px;
    padding: 10px;
    text-align: right;
    font-family: "Noto Sans JP";
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.8;
    letter-spacing: 0.7;
    position: relative;
}

.prologue__txt3::after {
    content: '';
    display: block;
    width: 60px;
    height: 60px;
    background-image: url(../images/guide01.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 15px;
    left: -20%;
}

/* prologue sp */
@media screen and (max-width: 768px) {
    .section--prologue {
        width: 100%;
        height: auto;
        margin: 0;
        padding: 48px 20px;
        background-image: url(../images/prologue_sp.png);
        background-size: cover;
        background-repeat: no-repeat;
        display: block;
        position: relative;
    }

    .prologue__content {
        height: auto;
    }

    .topic__first {
        font-size: 2.0rem;
        letter-spacing: 2;
    }

    .prologue__txt1 {
        margin-top: 48px;
        width: 100%;
        padding: 0;
        text-align: left;
        font-size: 1.8rem;
        letter-spacing: 0.9;
    }

    .prologue__txt1::after {
        width: 60px;
        height: 60px;
        top: 163px;
        left: 73%;
    }
    
    .prologue__txt2 {
        margin-top: 48px;
        margin-right: 0;
        width: 100%;
        padding: 0;
        text-align: left;
        font-size: 1.6rem;
    }

    .prologue__txt2::after {
        width: 40px;
        height: 40px;
        top: 100x;
        left: 50%;
    }
    
    .prologue__txt3 {
        margin:48px 0 0;
        width: 100%;
        padding: 0;
        text-align: left;
    }

    .prologue__txt3:after {
        width: 25px;
        height: 25px;
        top: 110px;
        left: 25%;
    }
}/* sp 768px */

/* ====================
entrance
==================== */
.section--entrance {
    padding: 120px 0 48px 0;
    text-align: center;
    background-image: url(../images/bg_shikkui_topPc.png);
    background-size: contain;
    background-repeat: repeat-x;
    position: relative;
    overflow: hidden;
}

.section--entrance:after {
    content: '';
    display: block;
    width: 630px;
    height: 550px;
    background-image: url(../images/entrance_after.png);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 30%;
    position: absolute;
    top: -20px;
    right: -265px;
    transform: rotate(235deg);
    animation: katakata 6s infinite ease-in-out alternate;
}

.entrance__txt {
    width: 100%;
    margin: 0 auto;
    padding: 0 24px;
}

.topic__lead {
    width: 100%;
    margin-top: 12px;
    font-family: "Zen Kaku Gothic New";
    font-size: 1.6rem;
    line-height: 1.8;
    letter-spacing: 0.8;
    text-align: center;
    position: relative;
}

.topic__lead::before {
    content: '';
    width: 400px;
    height: 400px;
    background-image: url(../images/chikuchiku.png);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 50%;
    position: absolute;
    top: -210px;
    left: -20px;
     /* アニメーション */
    animation: chikuchiku 60s steps(60) infinite;
}

.door__select {
    display: flex;
    justify-content: center;
    gap: 6px;
    margin-top: 24px;
}

.door__entrance {
    width: 360px;
    height: 424px;
}

.door__img {
    width: 347px;
    height: 329px;
}

.btn__select {
    margin-top: 24px;
    max-width: 360px;
}

.pcSpan {
    font-size: 1.8rem;
}

/* entrance sp */
@media screen and (max-width: 768px) {
    .section--entrance {
        padding: 48px 20px;
        background-image: url(../images/bg_sikkui_topSp.png);
    }
    
    .section--entrance:after {
        display: none;
    }

    .entrance__txt {
        width: 100%;
        padding: 0;
    }
    
    .topic__lead {
        width: 100%;
        font-size: 1.4rem;
        line-height: 1.5;
        letter-spacing: 0.7;
        text-align: left;
    }
    
    .topic__lead::before {
        width: 150px;
        height: 150px;
        top: 32px;
        left: 50%;
    }

    .door__select {
        display: block;
        margin-top: 36px;
    }
    
    .door__entrance {
        width: 100%;
        height: auto;
    }
 
    .door__entrance:last-of-type {
        margin-top: 48px;
    }
    
    .door__img {
        width: 261px;
        height: 248px;
    }
    
    .btn__select {
        margin-top: 12px;
    }
}/* sp 768px */

/* ====================
guide
==================== */
.section--guide {
    padding: 152px 0 120px 0;
    text-align: center;
    background-image: url(../images/bg_shikkui_topPc.png);
    background-size: contain;
    background-repeat: repeat-x;
    position: relative;
}

.section--guide:before {
    content: '';
    display: block;
    width: 380px;
    height: 365px;
    background-image: url(../images/guide_before.png);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 30%;
    position: absolute;
    top: 60px;
    left: 0;
    animation: katakata 6s infinite ease-in-out alternate;
    animation-delay: 2s;
}

.section--guide::after {
    content: '';
    display: block;
    width: 390px;
    height: 370px;
    background-image: url(../images/guide_after.png);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 30%;
    position: absolute;
    top: -40px;
    right: 0;
    animation: katakata 6s infinite ease-in-out alternate;
}

.topic__group--guide {
    min-width: 303px;
}

.guide__comment {
    margin: 12px auto 0 auto;
    width: 149px;
    height: 94px;
    background-image: url(../images/speechBubble.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.guide__content {
    margin: 0 auto;
    display: flex;
    gap: 20px;
    max-width: 506px;
}

.guide__item {
    display: block;
    width: 165px;
    margin-top: 24px;
}

.guide__img {
    width: 150px;
    height: 150px;
    overflow: hidden;
    transition: .5s;
}

.guide__img:hover {
    transform: scale(1.2, 1.2);
}

.guide__txt {
    text-align: center;
    font-family: "Zen Kaku Gothic New";
    font-size: 1.4rem;
    /* letter-spacing: 0.7; */
    margin-top: 12px;
}

/* guide sp */
@media screen and (max-width: 768px) {
    .section--guide {
        padding: 12px 20px 48px;
        background-image: url(../images/bg_sikkui_topSp.png);
    }

    .section--guide::before {
        width: 103px;
        height: 99px;
        opacity: 20%;
    }
    .section--guide::after {
        width: 84px;
        height: 81px;
        opacity: 20%;
    }
    
    .guide__content {
        margin: 6px auto 0;
        display: block;
        gap: 6px;
        max-width: 100%;
    }
    
    .guide__item {
        display: flex;
        justify-content: center;
        width: 100%;
        gap: 24px;
    }
    
    .guide__img {
        width: 100px;
        height: 100px;
    }
    
    .guide__txt {
        width: 143px;
        text-align: left;
        font-size: 1.3rem;
        letter-spacing: 0.65;
    }
}/* sp 768px */
